LAB 6

DA PT 2023

Sara Ferreira da Silva

1. Processing Data
   1.1 One Hot/Label Encoding (categorical)
   1.2. Concat DataFrames

2. Linear Regression
   2.1 Train-test split
   2.2 Apply linear regression

3. Model Validation
  3.1 R2
  3.2 MSE
  3.3 RMSE
  3.4 MAE

In [24]:
#Importing libraries and Data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import MinMaxScaler

import statsmodels.api as sm
from statsmodels.formula.api import ols

mc_n = pd.read_csv('datalab4_numerical.csv')
mc_c = pd.read_csv('datalab4_categorical.csv')

In [2]:
display(mc_c)

,Unnamed: 0,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [3]:
mc_c_clean = mc_c.drop(['Unnamed: 0','customer','effective_to_date'], axis = 1)

In [4]:
mc_c_clean

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [5]:
# One hot enconding

mc_c_clean = pd.get_dummies(mc_c_clean, drop_first=True)
mc_c_clean

,state_California,state_Nevada,state_Oregon,state_Washington,response_Yes,coverage_Extended,coverage_Premium,education_College,education_Doctor,education_High School or Below,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
9130,1,0,0,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
9131,1,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
9132,1,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
9133,1,0,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,1,1,0

In [6]:
# Normalizing data 
scaler = MinMaxScaler()
normalized_mc = scaler.fit_transform(mc_n)
normalized_mc = pd.DataFrame(normalized_mc, columns = mc_n.columns)
normalized_mc

# Standardizing columns names

cols2 = []
for i in range(len(normalized_mc.columns)):
    cols2.append(normalized_mc.columns[i].lower().replace(" ","_"))
normalized_mc.columns = cols2
normalized_mc

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,0.000000,0.010629,0.562847,0.033755,0.914286,0.050505,0.0,0.000,0.132974
1,0.000109,0.062406,0.000000,0.139241,0.371429,0.424242,0.0,0.875,0.391051
2,0.000219,0.134960,0.487763,0.198312,0.514286,0.383838,0.0,0.125,0.195764
3,0.000328,0.070589,0.000000,0.189873,0.514286,0.656566,0.0,0.750,0.183117
4,0.000438,0.011245,0.438443,0.050633,0.342857,0.444444,0.0,0.000,0.047710
...,...,...,...,...,...,...,...,...,...
9129,0.999562,0.264137,0.719547,0.050633,0.514286,0.898990,0.0,0.125,0.068485
9130,0.999672,0.014719,0.216081,0.075949,0.400000,0.282828,0.0,0.000,0.131034
9131,0.999781,0.076951,0.000000,0.101266,0.257143,0.373737,0.6,0.125,0.273297
9132,0.999891,0.069098,0.219452,0.147679,0.971429,0.030303,0.0,0.250,0.238876
9133,1.000000,0.008766,0.000000,0.067511,0.085714,0.909091,0.0,0.000,0.127716

In [7]:
# Concatenating numerical and categorical dataframes

mc_finaldata = pd.concat([normalized_mc, mc_c_clean], axis = 1)
mc_finaldata

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state_California,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
0,0.000000,0.010629,0.562847,0.033755,0.914286,0.050505,0.0,0.000,0.132974,0,...,0,0,0,0,0,0,0,1,1,0
1,0.000109,0.062406,0.000000,0.139241,0.371429,0.424242,0.0,0.875,0.391051,0,...,0,0,0,0,0,0,0,0,1,0
2,0.000219,0.134960,0.487763,0.198312,0.514286,0.383838,0.0,0.125,0.195764,0,...,0,0,0,0,0,0,0,1,1,0
3,0.000328,0.070589,0.000000,0.189873,0.514286,0.656566,0.0,0.750,0.183117,1,...,0,1,0,0,0,1,0,0,1,0
4,0.000438,0.011245,0.438443,0.050633,0.342857,0.444444,0.0,0.000,0.047710,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0.999562,0.264137,0.719547,0.050633,0.514286,0.898990,0.0,0.125,0.068485,1,...,0,0,1,0,0,0,0,0,1,0
9130,0.999672,0.014719,0.216081,0.075949,0.400000,0.282828,0.0,0.000,0.131034,1,...,1,0,0,0,0,0,0,0,1,0
9131,0.999781,0.076951,0.000000,0.101266,0.257143,0.373737,0.6,0.125,0.273297,1,...,1,0,0,0,0,0,0,0,1,0
9132,0.999891,0.069098,0.219452,0.147679,0.971429,0.030303,0.0,0.250,0.238876,1,...,1,0,0,0,0,0,0,0,0,0
9133,1.000000,0.008766,0.000000,0.067511,0.085714,0.909091,0.0,0.000,0.127716,1,...,0,1,0,0,0,0,0,1,1,0

In [12]:
# Linear Regression
# Train-test split

x = mc_finaldata.drop(['total_claim_amount'], axis =1)
y = mc_finaldata['total_claim_amount']

In [14]:
x

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,state_California,state_Nevada,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
0,0.000000,0.010629,0.562847,0.033755,0.914286,0.050505,0.0,0.000,0,0,...,0,0,0,0,0,0,0,1,1,0
1,0.000109,0.062406,0.000000,0.139241,0.371429,0.424242,0.0,0.875,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0.000219,0.134960,0.487763,0.198312,0.514286,0.383838,0.0,0.125,0,1,...,0,0,0,0,0,0,0,1,1,0
3,0.000328,0.070589,0.000000,0.189873,0.514286,0.656566,0.0,0.750,1,0,...,0,1,0,0,0,1,0,0,1,0
4,0.000438,0.011245,0.438443,0.050633,0.342857,0.444444,0.0,0.000,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0.999562,0.264137,0.719547,0.050633,0.514286,0.898990,0.0,0.125,1,0,...,0,0,1,0,0,0,0,0,1,0
9130,0.999672,0.014719,0.216081,0.075949,0.400000,0.282828,0.0,0.000,1,0,...,1,0,0,0,0,0,0,0,1,0
9131,0.999781,0.076951,0.000000,0.101266,0.257143,0.373737,0.6,0.125,1,0,...,1,0,0,0,0,0,0,0,1,0
9132,0.999891,0.069098,0.219452,0.147679,0.971429,0.030303,0.0,0.250,1,0,...,1,0,0,0,0,0,0,0,0,0
9133,1.000000,0.008766,0.000000,0.067511,0.085714,0.909091,0.0,0.000,1,0,...,0,1,0,0,0,0,0,1,1,0

In [15]:
y

0       0.132974
1       0.391051
2       0.195764
3       0.183117
4       0.047710
          ...
9129    0.068485
9130    0.131034
9131    0.273297
9132    0.238876
9133    0.127716
Name: total_claim_amount, Length: 9134, dtype: float64

In [21]:
# Building a linear model

from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Create and fit the linear regression model
lm = linear_model.LinearRegression()
model = lm.fit(X_train, Y_train)

In [26]:
predictions = lm.predict(X_test)

print("R2 value is = ",round(r2_score(Y_test, predictions),2))
print("The intercept of the model is = ",lm.intercept_)
print("The coefficients of the model are = ",lm.coef_)

mse = mean_squared_error(Y_test, predictions)
mae = mean_absolute_error(Y_test, predictions)
print("The mse of the model is = ",mse)
print("The root mse of the model is = ",np.sqrt(mse))
print("The mean absolute error of the model is = ",mae)

R2 value is =  0.76
The intercept of the model is =  -0.005880037295435042
The coefficients of the model are =  [ 1.70802499e-03  3.38489697e-03 -1.01116183e-02  4.15768050e-01
  3.05793889e-03 -8.23488112e-04 -2.47479719e-03  9.24968545e-04
  3.41580198e-04  1.99262310e-03 -1.06222531e-03  1.18739125e-03
 -8.62442645e-03 -4.49639127e-03 -2.19489391e-03 -2.48650874e-03
 -6.43049392e-03  2.70636289e-03 -3.52015203e-03 -3.01521857e-03
  4.90878362e-03 -2.36860142e-03  2.27677623e-02  4.61123064e-03
  1.31005519e-01  7.60421894e-02 -2.54105371e-03  2.16205453e-02
 -1.36002725e-03  5.59324056e-03 -2.95768282e-03 -2.03570876e-03
  7.40783963e-04 -1.14541681e-03 -9.55394403e-04  1.39265143e-02
 -3.17075976e-03 -5.16251395e-03  6.55964842e-03  3.07796553e-03
  2.04984131e-03 -2.30579487e-04 -2.07211570e-03  8.69045456e-04
  1.90777065e-02  7.89498873e-05 -3.04653009e-03 -7.69984850e-03
  1.52714240e-03 -3.40547685e-03 -1.34261436e-03]
The mse of the model is =  0.002253956209237275
The root mse of the model is =  0.04747584869422847
The mean absolute error of the model is =  0.03268218316196994