In [58]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

#Libary for predictions
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

# These Libs are for stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [59]:
#1. Get the data:
df = pd.read_csv(r'C:\Users\ljant\Desktop\Ironhack\06_Advanced_Statistics\lab-customer-analysis-round-6\files_for_lab\csv_files\marketing_customer_analysis.csv')
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [60]:
#2. Organising/dealing with the df:

def header_function (data):
    cols = []
    for i in range (len(data.columns)):
        cols.append(data.columns[i].lower().replace(' ','_'))
    
    data.columns = cols

    return data

header_function(df)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [61]:
# datatypes in df
df.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
dtype: object

In [62]:
# 3. Processing the data
# a) xy-split of the data

df.shape #(9134, 24)

from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.2, random_state=11)
df_train #(7307, 24)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
7999,JO68735,California,2292.791874,No,Basic,Bachelor,2/6/11,Unemployed,F,0,...,30,0,1,Personal Auto,Personal L3,Offer1,Branch,460.800000,Two-Door Car,Medsize
7936,NJ55678,Arizona,7824.492263,No,Basic,Bachelor,2/23/11,Employed,F,64543,...,84,0,2,Personal Auto,Personal L3,Offer2,Call Center,200.177163,Four-Door Car,Medsize
8678,BY88565,California,5219.754045,No,Basic,College,2/23/11,Employed,F,48203,...,47,0,6,Personal Auto,Personal L2,Offer4,Call Center,413.238845,Four-Door Car,Medsize
8943,FM12425,California,19337.901030,No,Extended,College,2/8/11,Employed,M,26488,...,39,0,7,Personal Auto,Personal L2,Offer1,Web,1321.584957,Luxury SUV,Medsize
1538,BU53191,Arizona,8834.322784,No,Basic,Bachelor,2/2/11,Employed,F,34133,...,72,0,7,Personal Auto,Personal L1,Offer1,Call Center,226.968400,SUV,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1293,SC92090,Arizona,8717.049833,Yes,Basic,College,2/14/11,Employed,M,83846,...,94,3,2,Personal Auto,Personal L2,Offer2,Agent,355.200000,Four-Door Car,Large
4023,DI42246,Arizona,2230.755716,No,Basic,College,1/20/11,Unemployed,M,0,...,49,0,1,Personal Auto,Personal L2,Offer1,Agent,325.886070,Four-Door Car,Medsize
7259,MT58123,California,13869.927050,Yes,Basic,College,1/21/11,Employed,M,28432,...,59,0,2,Corporate Auto,Corporate L2,Offer2,Branch,612.300581,SUV,Small
5200,SU95720,California,8923.113112,No,Extended,High School or Below,1/14/11,Unemployed,M,0,...,80,0,9,Personal Auto,Personal L3,Offer4,Branch,900.000000,SUV,Small
3775,BU72276,California,5318.896640,Yes,Basic,Bachelor,1/12/11,Employed,F,25134,...,0,0,6,Personal Auto,Personal L3,Offer2,Call Center,321.600000,Four-Door Car,Small

In [63]:
# 'Saving' the target value: 'total_claim_amount'

target = df_train[['total_claim_amount']].reset_index(drop = True)
target
#(7307, 7)

      total_claim_amount
0             460.800000
1             200.177163
2             413.238845
3            1321.584957
4             226.968400
...                  ...
7302          355.200000
7303          325.886070
7304          612.300581
7305          900.000000
7306          321.600000

[7307 rows x 1 columns]

In [64]:
# selecting only numerical data
df_num = df_train.select_dtypes('number')
df_num = df_num.drop(['total_claim_amount'], axis = 1)
df_num
#(7307, 7)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
7999,2292.791874,0,64,18,30,0,1
7936,7824.492263,64543,65,1,84,0,2
8678,5219.754045,48203,66,20,47,0,6
8943,19337.901030,26488,247,21,39,0,7
1538,8834.322784,34133,111,0,72,0,7
...,...,...,...,...,...,...,...
1293,8717.049833,83846,74,22,94,3,2
4023,2230.755716,0,62,9,49,0,1
7259,13869.927050,28432,118,1,59,0,2
5200,8923.113112,0,125,22,80,0,9
3775,5318.896640,25134,67,3,0,0,6

In [65]:
#b) Normalisation

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() # initialising the model; normalising the data
normalised_data = scaler.fit_transform(df_num) # and fit to data
normalised_data = pd.DataFrame(normalised_data, columns = df_num.columns)
normalised_data
#(7307, 8)

C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):
C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.004840,0.000000,0.012712,0.514286,0.303030,0.0,0.000
1,0.072775,0.645682,0.016949,0.028571,0.848485,0.0,0.125
2,0.040786,0.482218,0.021186,0.571429,0.474747,0.0,0.625
3,0.214171,0.264983,0.788136,0.600000,0.393939,0.0,0.750
4,0.085176,0.341463,0.211864,0.000000,0.727273,0.0,0.750
...,...,...,...,...,...,...,...
7302,0.083736,0.838787,0.055085,0.628571,0.949495,0.6,0.125
7303,0.004078,0.000000,0.004237,0.257143,0.494949,0.0,0.000
7304,0.147019,0.284431,0.241525,0.028571,0.595960,0.0,0.125
7305,0.086267,0.000000,0.271186,0.628571,0.808081,0.0,1.000
7306,0.042004,0.251438,0.025424,0.085714,0.000000,0.0,0.625

In [66]:
#c) One Hot/Label Encoding (categorical).

df_cat = df_train.select_dtypes('object').reset_index(drop = True)
df_cat
#(7307, 16)

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,JO68735,California,No,Basic,Bachelor,2/6/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer1,Branch,Two-Door Car,Medsize
1,NJ55678,Arizona,No,Basic,Bachelor,2/23/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Call Center,Four-Door Car,Medsize
2,BY88565,California,No,Basic,College,2/23/11,Employed,F,Suburban,Divorced,Personal Auto,Personal L2,Offer4,Call Center,Four-Door Car,Medsize
3,FM12425,California,No,Extended,College,2/8/11,Employed,M,Suburban,Divorced,Personal Auto,Personal L2,Offer1,Web,Luxury SUV,Medsize
4,BU53191,Arizona,No,Basic,Bachelor,2/2/11,Employed,F,Rural,Divorced,Personal Auto,Personal L1,Offer1,Call Center,SUV,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,SC92090,Arizona,Yes,Basic,College,2/14/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer2,Agent,Four-Door Car,Large
7303,DI42246,Arizona,No,Basic,College,1/20/11,Unemployed,M,Suburban,Married,Personal Auto,Personal L2,Offer1,Agent,Four-Door Car,Medsize
7304,MT58123,California,Yes,Basic,College,1/21/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer2,Branch,SUV,Small
7305,SU95720,California,No,Extended,High School or Below,1/14/11,Unemployed,M,Suburban,Married,Personal Auto,Personal L3,Offer4,Branch,SUV,Small
7306,BU72276,California,Yes,Basic,Bachelor,1/12/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer2,Call Center,Four-Door Car,Small

In [67]:
df_cat['state'].unique()

array(['California', 'Arizona', 'Oregon', 'Washington', 'Nevada'],
      dtype=object)

In [68]:
df_cat['response'].unique()

array(['No', 'Yes'], dtype=object)

In [69]:
df_cat['coverage'].unique()

array(['Basic', 'Extended', 'Premium'], dtype=object)

In [70]:
df_cat['education'].unique()

array(['Bachelor', 'College', 'High School or Below', 'Doctor', 'Master'],
      dtype=object)

In [71]:
df_cat['employmentstatus'].unique()

array(['Unemployed', 'Employed', 'Retired', 'Disabled', 'Medical Leave'],
      dtype=object)

In [72]:
df_cat['location_code'].unique()

array(['Suburban', 'Urban', 'Rural'], dtype=object)

In [73]:
df_cat['marital_status'].unique()

array(['Single', 'Married', 'Divorced'], dtype=object)

In [74]:
df_cat['policy_type'].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto'], dtype=object)

In [75]:
df_cat['policy'].unique()

array(['Personal L3', 'Personal L2', 'Personal L1', 'Corporate L1',
       'Corporate L3', 'Special L1', 'Special L3', 'Special L2',
       'Corporate L2'], dtype=object)

In [76]:
df_cat['renew_offer_type'].unique()

array(['Offer1', 'Offer2', 'Offer4', 'Offer3'], dtype=object)

In [77]:
df_cat['sales_channel'].unique()

array(['Branch', 'Call Center', 'Web', 'Agent'], dtype=object)

In [78]:
df_cat['vehicle_class'].unique()

array(['Two-Door Car', 'Four-Door Car', 'Luxury SUV', 'SUV', 'Sports Car',
       'Luxury Car'], dtype=object)

In [79]:
df_cat['vehicle_size'].unique()

array(['Medsize', 'Small', 'Large'], dtype=object)

In [80]:
''' 
I'm not going to One Hot/Label Encoding every categorical column, to keept the table manageable
I'm choosing:
- 'state','response','coverage', 'location_code','policy_type', 'sales_channel'
'''

df_cat = pd.get_dummies(df_cat[['state','response','coverage', 'location_code','policy_type', 'sales_channel']], dtype = int)
df_cat
#[7307, 20]

,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,coverage_Basic,coverage_Extended,coverage_Premium,location_code_Rural,location_code_Suburban,location_code_Urban,policy_type_Corporate Auto,policy_type_Personal Auto,policy_type_Special Auto,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web
0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0
1,1,0,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,0,1,0
2,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,0
3,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1
4,1,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,1,0,0,0,0,0,1,1,0,0,0,1,0,0,1,0,1,0,0,0
7303,1,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0,0
7304,0,1,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0,1,0,0
7305,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0
7306,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0

In [81]:
# Adjusting column headers

def header_function (data):
    cols = []
    for i in range (len(data.columns)):
        cols.append(data.columns[i].lower().replace(' ','_'))
    
    data.columns = cols

    return data

header_function(df_cat)

,state_arizona,state_california,state_nevada,state_oregon,state_washington,response_no,response_yes,coverage_basic,coverage_extended,coverage_premium,location_code_rural,location_code_suburban,location_code_urban,policy_type_corporate_auto,policy_type_personal_auto,policy_type_special_auto,sales_channel_agent,sales_channel_branch,sales_channel_call_center,sales_channel_web
0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0
1,1,0,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,0,1,0
2,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,0
3,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1
4,1,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,1,0,0,0,0,0,1,1,0,0,0,1,0,0,1,0,1,0,0,0
7303,1,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0,0
7304,0,1,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0,1,0,0
7305,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0
7306,0,1,0,0,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0

In [82]:
# d) concat dataframes

df_model = pd.concat([df_cat, normalised_data], axis = 1).reset_index(drop = True)
df_model

,state_arizona,state_california,state_nevada,state_oregon,state_washington,response_no,response_yes,coverage_basic,coverage_extended,coverage_premium,...,sales_channel_branch,sales_channel_call_center,sales_channel_web,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0,1,0,0,0,1,0,1,0,0,...,1,0,0,0.004840,0.000000,0.012712,0.514286,0.303030,0.0,0.000
1,1,0,0,0,0,1,0,1,0,0,...,0,1,0,0.072775,0.645682,0.016949,0.028571,0.848485,0.0,0.125
2,0,1,0,0,0,1,0,1,0,0,...,0,1,0,0.040786,0.482218,0.021186,0.571429,0.474747,0.0,0.625
3,0,1,0,0,0,1,0,0,1,0,...,0,0,1,0.214171,0.264983,0.788136,0.600000,0.393939,0.0,0.750
4,1,0,0,0,0,1,0,1,0,0,...,0,1,0,0.085176,0.341463,0.211864,0.000000,0.727273,0.0,0.750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,1,0,0,0,0,0,1,1,0,0,...,0,0,0,0.083736,0.838787,0.055085,0.628571,0.949495,0.6,0.125
7303,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0.004078,0.000000,0.004237,0.257143,0.494949,0.0,0.000
7304,0,1,0,0,0,0,1,1,0,0,...,1,0,0,0.147019,0.284431,0.241525,0.028571,0.595960,0.0,0.125
7305,0,1,0,0,0,1,0,0,1,0,...,1,0,0,0.086267,0.000000,0.271186,0.628571,0.808081,0.0,1.000
7306,0,1,0,0,0,0,1,1,0,0,...,0,1,0,0.042004,0.251438,0.025424,0.085714,0.000000,0.0,0.625

In [83]:
# 4. Linear regression

#a) Build regression with 'total_claim_amount' as target value; testing with income

Y = target
X = df_model['income']

# The model: Y = inter + coef. * X

X = sm.add_constant(X) # here adding the intercept

# The model:
model = sm.OLS(Y, X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.126
Model:                            OLS   Adj. R-squared:                  0.126
Method:                 Least Squares   F-statistic:                     1055.
Date:                Sun, 15 Oct 2023   Prob (F-statistic):          2.93e-216
Time:                        16:40:24   Log-Likelihood:                -51249.
No. Observations:                7307   AIC:                         1.025e+05
Df Residuals:                    7305   BIC:                         1.025e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        560.4632      5.003    112.016      0.000     550.655     570.271
income      -336.4123     10.358    -32.478      0.000    -356.717    -316.107
==============================================================================
Omnibus:                     2822.619   Durbin-Watson:                   2.026
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            16705.239
Skew:                           1.745   Prob(JB):                         0.00
Kurtosis:                       9.533   Cond. No.                         3.80
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [84]:
Y = target
X = df_model['monthly_premium_auto']

# The model: Y = inter + coef. * X

X = sm.add_constant(X) # here adding the intercept

# The model:
model = sm.OLS(Y, X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.393
Model:                            OLS   Adj. R-squared:                  0.393
Method:                 Least Squares   F-statistic:                     4739.
Date:                Sun, 15 Oct 2023   Prob (F-statistic):               0.00
Time:                        16:40:24   Log-Likelihood:                -49915.
No. Observations:                7307   AIC:                         9.983e+04
Df Residuals:                    7305   BIC:                         9.985e+04
Df Model:                           1
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  265.3307      3.590     73.906      0.000     258.293     272.368
monthly_premium_auto  1238.5294     17.991     68.841      0.000    1203.261    1273.797
==============================================================================
Omnibus:                      749.865   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3909.190
Skew:                           0.360   Prob(JB):                         0.00
Kurtosis:                       6.510   Cond. No.                         6.99
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [85]:
'''
Model tests the relationshop between 'total_claim_amount' and 'income' --> does the 'total_claim'amount' depends on 'income'?
--> initial hypothesis: "Customers with higher income have a lower total claim amount than customers with lower income."

Results interpretation:
- Negative coef --> As 'income' increases, the total_claim_amount decreases --> in accordance with the hypothesis
- Postive coef --> As 'monthly_premium_auto' increases the total_claim_amount increases as well
- R² = 0.126 
--> 'income' is not a great variable (R² < 0.5) to explain the variation in total_claim_amount, but still a good approach. 
    In contrast 'monthly_premium_auto' explains 39.3 % of the variance in total_claim_amount.
- F-Statistcs suggest that there is a linear relationship between 'income' and 'total_claim_amount'
- T-test in multiple regression suggests that both variables ('income' and 'monthly_premium_auto') are relevant for the 
  regression model.

'''

'\nModel tests the relationshop between \'total_claim_amount\' and \'income\' --> does the \'total_claim\'amount\' depends on \'income\'?\n--> initial hypothesis: "Customers with higher income have a lower total claim amount than customers with lower income."\n\nResults interpretation:\n- Negative coef --> As \'income\' increases, the total_claim_amount decreases --> in accordance with the hypothesis\n- Postive coef --> As \'monthly_premium_auto\' increases the total_claim_amount increases as well\n- R² = 0.126 \n--> \'income\' is not a great variable (R² < 0.5) to explain the variation in total_claim_amount, but still a good approach. \n    In contrast \'monthly_premium_auto\' explains 39.3 % of the variance in total_claim_amount.\n- F-Statistcs suggest that there is a linear relationship between \'income\' and \'total_claim_amount\'\n- T-test in multiple regression suggests that both variables (\'income\' and \'monthly_premium_auto\') are relevant for the \n  regression model.\n\n'

In [86]:
# Multiple regresssion

Y = target
X = df_model

X = sm.add_constant(X)

# The model:
model = sm.OLS(Y, X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.748
Model:                            OLS   Adj. R-squared:                  0.747
Method:                 Least Squares   F-statistic:                     1029.
Date:                Sun, 15 Oct 2023   Prob (F-statistic):               0.00
Time:                        16:40:24   Log-Likelihood:                -46708.
No. Observations:                7307   AIC:                         9.346e+04
Df Residuals:                    7285   BIC:                         9.361e+04
Df Model:                          21
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                          1.152e+14    2.4e+14      0.480      0.631   -3.55e+14    5.86e+14
state_arizona                 -3.541e+13      3e+14     -0.118      0.906   -6.24e+14    5.53e+14
state_california              -3.541e+13      3e+14     -0.118      0.906   -6.24e+14    5.53e+14
state_nevada                  -3.541e+13      3e+14     -0.118      0.906   -6.24e+14    5.53e+14
state_oregon                  -3.541e+13      3e+14     -0.118      0.906   -6.24e+14    5.53e+14
state_washington              -3.541e+13      3e+14     -0.118      0.906   -6.24e+14    5.53e+14
response_no                   -1.268e+14   2.57e+14     -0.494      0.621    -6.3e+14    3.76e+14
response_yes                  -1.268e+14   2.57e+14     -0.494      0.621    -6.3e+14    3.76e+14
coverage_basic                 -4.24e+13   9.25e+13     -0.458      0.647   -2.24e+14    1.39e+14
coverage_extended              -4.24e+13   9.25e+13     -0.458      0.647   -2.24e+14    1.39e+14
coverage_premium               -4.24e+13   9.25e+13     -0.458      0.647   -2.24e+14    1.39e+14
location_code_rural            2.313e+13   1.29e+14      0.179      0.858    -2.3e+14    2.76e+14
location_code_suburban         2.313e+13   1.29e+14      0.179      0.858    -2.3e+14    2.76e+14
location_code_urban            2.313e+13   1.29e+14      0.179      0.858    -2.3e+14    2.76e+14
policy_type_corporate_auto    -1.311e+12   5.45e+13     -0.024      0.981   -1.08e+14    1.06e+14
policy_type_personal_auto     -1.311e+12   5.45e+13     -0.024      0.981   -1.08e+14    1.06e+14
policy_type_special_auto      -1.311e+12   5.45e+13     -0.024      0.981   -1.08e+14    1.06e+14
sales_channel_agent            6.754e+13   1.61e+14      0.420      0.674   -2.47e+14    3.83e+14
sales_channel_branch           6.754e+13   1.61e+14      0.420      0.674   -2.47e+14    3.83e+14
sales_channel_call_center      6.754e+13   1.61e+14      0.420      0.674   -2.47e+14    3.83e+14
sales_channel_web              6.754e+13   1.61e+14      0.420      0.674   -2.47e+14    3.83e+14
customer_lifetime_value          -6.3547     22.277     -0.285      0.775     -50.024      37.314
income                         -120.3840      6.301    -19.105      0.000    -132.736    -108.032
monthly_premium_auto           1178.0044     14.070     83.727      0.000    1150.424    1205.585
months_since_last_claim           6.4934      5.919      1.097      0.273      -5.109      18.096
months_since_policy_inception    -1.6991      6.035     -0.282      0.778     -13.529      10.131
number_of_open_complaints       -13.2514      9.281     -1.428      0.153     -31.445       4.942
number_of_policies                1.4830      5.647      0.263      0.793      -9.586      12.552
==============================================================================
Omnibus:                     3569.911   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            46385.111
Skew:                           2.014   Prob(JB):                         0.00
Kurtosis:                      14.667   Cond. No.                     3.46e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.76e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [87]:
# Predictions and error analysis

Y = target
X = df_model['income'].values.reshape(-1, 1) #changes X to 2D format (needed for LinearRegression function)

lm = linear_model.LinearRegression()
model = lm.fit(X,Y)
lm.score(X,Y) # This is the R^2

# This is the same as above
# But now it can be used for predictions:


from sklearn.metrics import mean_absolute_error

predictions = lm.predict(X)

print("R2 value is = ",round(r2_score(Y, predictions),2))
print("The intercept of the model is = ",lm.intercept_)
print("The coefficients of the model are = ",lm.coef_)

mse = mean_squared_error(Y, predictions)
mae = mean_absolute_error(Y, predictions)
print("The mse of the model is = ", round(mse,2))
print("The root mse of the model is = ",round(np.sqrt(mse),2))
print("The mean absolute error of the model is = ",round(mae,2))

R2 value is =  0.13
The intercept of the model is =  [560.46315805]
The coefficients of the model are =  [[-336.41233555]]
The mse of the model is =  72362.44
The root mse of the model is =  269.0
The mean absolute error of the model is =  192.63

C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):
C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):
C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):
C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):
C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):

In [88]:
# This was the 'trainng' data - now I want to test the model with my 'testing' data

#1. # 'Saving' the target value: 'total_claim_amount'

target = df_test[['total_claim_amount']].reset_index(drop = True)
target
#(1827, 7)

      total_claim_amount
0             371.803029
1             276.877348
2             525.600000
3             388.800000
4             163.046956
...                  ...
1822          792.000000
1823          396.105473
1824          445.879224
1825          472.043042
1826           37.288740

[1827 rows x 1 columns]

In [89]:
#2 Normalising numerical columns

df_num = df_test.select_dtypes('number')
df_num = df_num.drop(['total_claim_amount'], axis = 1)
df_num
#(1827, 7)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
613,7281.440140,0,69,28,28,3,2
7644,2520.301352,56228,65,4,79,0,1
8552,6952.651187,0,73,2,38,3,2
1514,9840.082616,94590,81,26,31,0,2
2738,16045.109520,0,65,10,10,0,2
...,...,...,...,...,...,...,...
6493,3857.770745,0,110,20,62,0,1
8713,4335.676738,30574,114,19,10,1,1
1702,5764.784159,22134,72,13,81,0,3
7503,2854.266940,34807,73,8,90,0,1
2833,5807.994569,70717,72,20,89,0,5

In [90]:
scaler = MinMaxScaler() # initialising the model; normalising the data
normalised_data = scaler.fit_transform(df_num) # and fit to data
normalised_data = pd.DataFrame(normalised_data, columns = df_num.columns)
normalised_data
#(1827, 7)

C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):
C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.074428,0.000000,0.033755,0.800000,0.282828,0.6,0.125
1,0.008603,0.562387,0.016878,0.114286,0.797980,0.0,0.000
2,0.069883,0.000000,0.050633,0.057143,0.383838,0.6,0.125
3,0.109803,0.946080,0.084388,0.742857,0.313131,0.0,0.125
4,0.195590,0.000000,0.016878,0.285714,0.101010,0.0,0.125
...,...,...,...,...,...,...,...
1822,0.027095,0.000000,0.206751,0.571429,0.626263,0.0,0.000
1823,0.033702,0.305798,0.223629,0.542857,0.101010,0.2,0.000
1824,0.053460,0.221382,0.046414,0.371429,0.818182,0.0,0.250
1825,0.013221,0.348136,0.050633,0.228571,0.909091,0.0,0.000
1826,0.054057,0.707304,0.046414,0.571429,0.898990,0.0,0.500

In [91]:
#3. One Hot/Label Encoding (categorical columns).

df_cat = df_test.select_dtypes('object').reset_index(drop = True)
df_cat = pd.get_dummies(df_cat[['state','response','coverage', 'location_code','policy_type', 'sales_channel']], dtype = int)

# Adjusting column headers

def header_function (data):
    cols = []
    for i in range (len(data.columns)):
        cols.append(data.columns[i].lower().replace(' ','_'))
    
    data.columns = cols

    return data

header_function(df_cat)

#(1827, 20)

,state_arizona,state_california,state_nevada,state_oregon,state_washington,response_no,response_yes,coverage_basic,coverage_extended,coverage_premium,location_code_rural,location_code_suburban,location_code_urban,policy_type_corporate_auto,policy_type_personal_auto,policy_type_special_auto,sales_channel_agent,sales_channel_branch,sales_channel_call_center,sales_channel_web
0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,1,0
1,0,0,0,1,0,1,0,1,0,0,0,0,1,0,1,0,0,0,1,0
2,0,1,0,0,0,1,0,1,0,0,0,1,0,1,0,0,1,0,0,0
3,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1
4,0,0,0,0,1,1,0,1,0,0,1,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822,1,0,0,0,0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,1
1823,0,1,0,0,0,1,0,1,0,0,0,0,1,1,0,0,0,0,0,1
1824,1,0,0,0,0,1,0,1,0,0,0,1,0,1,0,0,0,0,1,0
1825,0,0,0,1,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0,0
1826,1,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0

In [92]:
#4. concat dataframes

df_model_test = pd.concat([df_cat, normalised_data], axis = 1).reset_index(drop = True)
df_model_test
#(1827, 27)

,state_arizona,state_california,state_nevada,state_oregon,state_washington,response_no,response_yes,coverage_basic,coverage_extended,coverage_premium,...,sales_channel_branch,sales_channel_call_center,sales_channel_web,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,1,0,0,0,0,1,0,1,0,0,...,0,1,0,0.074428,0.000000,0.033755,0.800000,0.282828,0.6,0.125
1,0,0,0,1,0,1,0,1,0,0,...,0,1,0,0.008603,0.562387,0.016878,0.114286,0.797980,0.0,0.000
2,0,1,0,0,0,1,0,1,0,0,...,0,0,0,0.069883,0.000000,0.050633,0.057143,0.383838,0.6,0.125
3,0,1,0,0,0,1,0,0,1,0,...,0,0,1,0.109803,0.946080,0.084388,0.742857,0.313131,0.0,0.125
4,0,0,0,0,1,1,0,1,0,0,...,0,0,0,0.195590,0.000000,0.016878,0.285714,0.101010,0.0,0.125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822,1,0,0,0,0,1,0,1,0,0,...,0,0,1,0.027095,0.000000,0.206751,0.571429,0.626263,0.0,0.000
1823,0,1,0,0,0,1,0,1,0,0,...,0,0,1,0.033702,0.305798,0.223629,0.542857,0.101010,0.2,0.000
1824,1,0,0,0,0,1,0,1,0,0,...,0,1,0,0.053460,0.221382,0.046414,0.371429,0.818182,0.0,0.250
1825,0,0,0,1,0,1,0,1,0,0,...,0,0,0,0.013221,0.348136,0.050633,0.228571,0.909091,0.0,0.000
1826,1,0,0,0,0,1,0,1,0,0,...,0,1,0,0.054057,0.707304,0.046414,0.571429,0.898990,0.0,0.500

In [93]:
# 4. Linear regression

#a) Build regression with 'total_claim_amount' as target value; testing with income

Y = target
X = df_model_test['income']

# The model: Y = inter + coef. * X

X = sm.add_constant(X) # here adding the intercept

# The model:
model = sm.OLS(Y, X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.127
Model:                            OLS   Adj. R-squared:                  0.126
Method:                 Least Squares   F-statistic:                     264.4
Date:                Sun, 15 Oct 2023   Prob (F-statistic):           1.26e-55
Time:                        16:40:24   Log-Likelihood:                -12896.
No. Observations:                1827   AIC:                         2.580e+04
Df Residuals:                    1825   BIC:                         2.581e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        568.3138     10.570     53.764      0.000     547.582     589.045
income      -352.3513     21.669    -16.260      0.000    -394.851    -309.852
==============================================================================
Omnibus:                      774.637   Durbin-Watson:                   1.992
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4966.734
Skew:                           1.874   Prob(JB):                         0.00
Kurtosis:                      10.155   Cond. No.                         3.81
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [94]:
'''
Interpretation
- Linear regression results resemble these obtained with the training data
'''

'\nInterpretation\n- Linear regression results resemble these obtained with the training data\n'

In [95]:
# Now with predictions and error assessment

Y = target
X = df_model_test['income'].values.reshape(-1, 1)

lm = linear_model.LinearRegression()
model = lm.fit(X,Y)
lm.score(X,Y) # This is the R^2

# This is the same as above
# But now it can be used for predictions:


from sklearn.metrics import mean_absolute_error

predictions = lm.predict(X)

print("R2 value is = ",round(r2_score(Y, predictions),2))
print("The intercept of the model is = ",lm.intercept_)
print("The coefficients of the model are = ",lm.coef_)

mse = mean_squared_error(Y, predictions)
mae = mean_absolute_error(Y, predictions)
print("The mse of the model is = ", round(mse,2))
print("The root mse of the model is = ",round(np.sqrt(mse),2))
print("The mean absolute error of the model is = ",round(mae,2))

R2 value is =  0.13
The intercept of the model is =  [568.31379872]
The coefficients of the model are =  [[-352.35128779]]
The mse of the model is =  79186.72
The root mse of the model is =  281.4
The mean absolute error of the model is =  199.39

C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):
C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):
C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):
C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):
C:\Users\ljant\anaconda3\lib\site-packages\sklearn\utils\validation.py:571: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  array.dtypes.apply(is_sparse).any()):

In [ ]:
# The results for the test data are very similar to the ones from the training data; model works