In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import math
from sklearn.metrics import mean_absolute_error

In [5]:
data = pd.read_csv('categorical_data.csv')

In [7]:
def label_encoder(data):
    data_copy = data.copy()
    for i in data.columns:
        data_copy[i] = LabelEncoder().fit(data_copy[i]).transform(data_copy[i])
    return data_copy

In [8]:
data_copy = label_encoder(data)

In [10]:
Y = pd.read_csv('Y_data.csv')
Y = Y.drop(['Unnamed: 0'],axis=1)

In [12]:
numerical_x = pd.read_csv('numerical_data.csv').drop(['Total Claim Amount'],axis=1)

In [13]:
numerical_x.columns

Index(['Unnamed: 0', 'Customer Lifetime Value', 'Income',
       'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies'],
      dtype='object')

In [14]:
np.concatenate((numerical_x,data_copy), axis=1)

array([[0.00000000e+00, 2.76351928e+03, 5.62740000e+04, ...,
        0.00000000e+00, 5.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 6.97953590e+03, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [2.00000000e+00, 1.28874317e+04, 4.87670000e+04, ...,
        0.00000000e+00, 5.00000000e+00, 1.00000000e+00],
       ...,
       [9.13100000e+03, 8.16389043e+03, 0.00000000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [9.13200000e+03, 7.52444244e+03, 2.19410000e+04, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [9.13300000e+03, 2.61183687e+03, 0.00000000e+00, ...,
        2.00000000e+00, 5.00000000e+00, 1.00000000e+00]])

In [15]:
pd.DataFrame(np.concatenate((numerical_x,data_copy), axis=1))

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.0,2763.519279,56274.0,69.0,32.0,5.0,0.0,1.0,0.0,600.0,...,1.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,5.0,1.0
1,1.0,6979.535903,0.0,94.0,13.0,42.0,0.0,8.0,1.0,5946.0,...,4.0,0.0,1.0,2.0,1.0,5.0,2.0,0.0,0.0,1.0
2,2.0,12887.431650,48767.0,108.0,18.0,38.0,0.0,2.0,2.0,96.0,...,1.0,0.0,1.0,1.0,1.0,5.0,0.0,0.0,5.0,1.0
3,3.0,7645.861827,0.0,106.0,18.0,65.0,0.0,7.0,3.0,8016.0,...,4.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0,3.0,1.0
4,4.0,2813.692575,43836.0,73.0,12.0,44.0,0.0,1.0,4.0,2488.0,...,1.0,1.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,9129.0,23405.987980,71941.0,73.0,18.0,89.0,0.0,2.0,9129.0,3857.0,...,1.0,1.0,2.0,1.0,1.0,3.0,1.0,3.0,0.0,1.0
9130,9130.0,3096.511217,21604.0,79.0,14.0,28.0,0.0,1.0,9130.0,5390.0,...,1.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0
9131,9131.0,8163.890428,0.0,85.0,9.0,37.0,3.0,2.0,9131.0,6688.0,...,4.0,1.0,1.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0
9132,9132.0,7524.442436,21941.0,96.0,34.0,3.0,0.0,3.0,9132.0,7214.0,...,1.0,1.0,1.0,1.0,1.0,4.0,2.0,1.0,0.0,0.0
9133,9133.0,2611.836866,0.0,77.0,3.0,90.0,0.0,1.0,9133.0,8434.0,...,4.0,1.0,1.0,2.0,0.0,2.0,3.0,2.0,5.0,1.0

In [16]:
X = pd.DataFrame(np.concatenate((numerical_x,data_copy), axis=1))

In [17]:
train_test_split(X,Y,test_size=0.4,random_state=100)

[          0             1        2      3     4     5    6    7       8   \
 3715  3715.0   9015.915395      0.0  130.0  32.0  38.0  0.0  4.0  3715.0
 3824  3824.0   9672.701942      0.0   96.0   5.0  27.0  0.0  2.0  3824.0
 4708  4708.0   9061.767848  37970.0  115.0   8.0  44.0  0.0  3.0  4708.0
 8734  8734.0  14980.046260      0.0  222.0  26.0  50.0  0.0  8.0  8734.0
 6094  6094.0   8229.240991      0.0  109.0   5.0  63.0  0.0  3.0  6094.0
 ...      ...           ...      ...    ...   ...   ...  ...  ...     ...
 350    350.0   7762.590564  23827.0  106.0  18.0  77.0  2.0  3.0   350.0
 79      79.0  58166.553510  61321.0  186.0   0.0  30.0  1.0  2.0    79.0
 8039  8039.0   5577.669457  11097.0   73.0  26.0  50.0  0.0  4.0  8039.0
 6936  6936.0   4082.704584  23206.0  107.0  31.0  60.0  0.0  1.0  6936.0
 5640  5640.0   4198.025250  30598.0  106.0  13.0  21.0  0.0  1.0  5640.0

           9   ...   15   16   17   18   19   20   21   22   23   24
 3715  3693.0  ...  4.0  1.0  1.0  2.0  0.0  1.0  0.0  0.0  3.0  2.0
 3824  2107.0  ...  4.0  1.0  1.0  2.0  0.0  2.0  0.0  0.0  0.0  1.0
 4708  8168.0  ...  1.0  1.0  0.0  1.0  1.0  5.0  0.0  0.0  3.0  1.0
 8734  6710.0  ...  4.0  0.0  1.0  2.0  1.0  4.0  0.0  1.0  1.0  1.0
 6094  2071.0  ...  4.0  0.0  2.0  1.0  1.0  4.0  2.0  3.0  3.0  1.0
 ...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 350   6139.0  ...  0.0  0.0  0.0  1.0  1.0  5.0  0.0  0.0  0.0  1.0
 79    5077.0  ...  1.0  1.0  0.0  2.0  1.0  5.0  1.0  1.0  1.0  2.0
 8039  5816.0  ...  0.0  1.0  1.0  1.0  0.0  2.0  2.0  3.0  5.0  2.0
 6936  8788.0  ...  2.0  0.0  1.0  1.0  1.0  5.0  0.0  2.0  4.0  0.0
 5640  7706.0  ...  1.0  1.0  1.0  1.0  1.0  4.0  2.0  0.0  3.0  1.0

 [5480 rows x 25 columns],
           0             1        2      3     4     5    6    7       8   \
 7175  7175.0   5112.570311  56587.0   65.0   4.0  88.0  1.0  6.0  7175.0
 7255  7255.0   4882.286714  21236.0  123.0   3.0  12.0  0.0  1.0  7255.0
 2846  2846.0   5488.931031  33881.0   68.0  11.0  83.0  0.0  9.0  2846.0
 1211  1211.0   3700.385003  17557.0   96.0   6.0   5.0  0.0  1.0  1211.0
 4294  4294.0   8679.838135  52717.0  109.0   5.0  60.0  0.0  8.0  4294.0
 ...      ...           ...      ...    ...   ...   ...  ...  ...     ...
 1594  1594.0   5087.020469      0.0   72.0  12.0  70.0  0.0  3.0  1594.0
 636    636.0  21435.877820  20668.0  188.0  34.0  54.0  3.0  2.0   636.0
 3326  3326.0   8810.895550  76266.0  110.0  24.0  88.0  1.0  3.0  3326.0
 2604  2604.0   4177.876779  14108.0  109.0  27.0  88.0  0.0  1.0  2604.0
 5252  5252.0   4760.941906      0.0   68.0   9.0   1.0  0.0  6.0  5252.0

           9   ...   15   16   17   18   19   20   21   22   23   24
 7175  6649.0  ...  1.0  1.0  1.0  0.0  1.0  5.0  0.0  3.0  0.0  1.0
 7255  3379.0  ...  1.0  0.0  0.0  1.0  1.0  4.0  1.0  2.0  3.0  1.0
 2846  3533.0  ...  1.0  0.0  0.0  1.0  1.0  5.0  1.0  3.0  0.0  0.0
 1211  4652.0  ...  3.0  0.0  1.0  1.0  1.0  4.0  3.0  3.0  0.0  1.0
 4294  2558.0  ...  1.0  0.0  0.0  1.0  0.0  1.0  2.0  0.0  0.0  1.0
 ...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
 1594  6709.0  ...  4.0  1.0  1.0  1.0  1.0  3.0  1.0  3.0  0.0  1.0
 636   2290.0  ...  1.0  0.0  1.0  1.0  1.0  5.0  1.0  2.0  1.0  0.0
 3326  8426.0  ...  1.0  0.0  0.0  2.0  1.0  3.0  0.0  1.0  5.0  1.0
 2604  8960.0  ...  2.0  0.0  1.0  1.0  1.0  3.0  0.0  2.0  0.0  2.0
 5252  6532.0  ...  4.0  0.0  1.0  2.0  0.0  2.0  0.0  3.0  0.0  1.0

 [3654 rows x 25 columns],
       Total Claim Amount
 3715          936.000000
 3824         1120.677126
 4708          124.967415
 8734         1123.485329
 6094          298.636534
 ...                  ...
 350            37.910623
 79            427.631210
 8039          350.400000
 6936          513.600000
 5640          508.800000

 [5480 rows x 1 columns],
       Total Claim Amount
 7175          312.000000
 7255          131.262395
 2846           65.659137
 1211          666.724937
 4294           60.151529
 ...                  ...
 1594          345.600000
 636           902.400000
 3326          155.708627
 2604          523.200000
 5252          489.600000

 [3654 rows x 1 columns]]

In [18]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.4,random_state=100)

In [19]:
model = sm.OLS(y_train,x_train).fit()

In [20]:
X.to_csv('final_data.csv')
Y.to_csv('final_Y.csv')

In [21]:
predictions = model.predict(x_test)

In [29]:
Lreg = LinearRegression().fit(x_train, y_train)

In [31]:
predictions = Lreg.predict(x_test)

In [32]:
r2 = r2_score(y_test, predictions)

In [34]:
mse = mean_squared_error(y_test,predictions)

In [36]:
rmse = math.sqrt(mse)

In [39]:
mae = mean_absolute_error(y_test, predictions)

In [33]:
r2

0.5902588938948329

In [35]:
mse

32555.12151946689

In [37]:
rmse

180.4303785937027

In [40]:
mae

131.93937243565185