![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Customer Analysis Round 6

For this lab, we still keep using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder.

### Get the data

We are using the `marketing_customer_analysis.csv` file.

### Dealing with the data

Already done in the round 2.

### Explore the data

Done in the round 3.

### Processing Data

(_Further processing..._)

- X-y split. (_done_)
- Normalize (numerical). (_done_)
- One Hot/Label Encoding (categorical).
- Concat DataFrames

### Linear Regression

- Train-test split.
- Apply linear regression.

### Model Validation

- Description:
  - R2.
  - MSE.
  - RMSE.
  - MAE.

In [1]:
import pandas as pd

In [2]:
X_normalised_marketing_customer_analysis = pd.read_csv("X_normalised_marketing_customer_analysis.csv",index_col=0)
Y_marketing_customer_analysis = pd.read_csv("Y_marketing_customer_analysis.csv",index_col=0)
X_normalised_marketing_customer_analysis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9134 entries, 0 to 9133
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Response                       9134 non-null   object
 3   Coverage                       9134 non-null   object
 4   Education                      9134 non-null   object
 5   Effective To Date              9134 non-null   object
 6   EmploymentStatus               9134 non-null   object
 7   Gender                         9134 non-null   object
 8   Location Code                  9134 non-null   object
 9   Marital Status                 9134 non-null   object
 10  Policy Type                    9134 non-null   object
 11  Policy                         9134 non-null   object
 12  Renew Offer Type               9134 non-null   object
 13  Sales Channel                  9134 non-null   object
 14  Vehicle Class                  9134 non-null   object
 15  Vehicle Size                   9134 non-null   object
 16  Customer Lifetime Value        9134 non-null   float64
 17  Income                         9134 non-null   float64
 18  Monthly Premium Auto           9134 non-null   float64
 19  Months Since Last Claim        9134 non-null   float64
 20  Months Since Policy Inception  9134 non-null   float64
 21  Number of Open Complaints      9134 non-null   float64
 22  Number of Policies             9134 non-null   float64
dtypes: float64(7), object(16)
memory usage: 1.7+ MB

In [3]:
X_cat_normalised_marketing_customer_analysis = X_normalised_marketing_customer_analysis.select_dtypes('object')
X_cat_normalised_marketing_customer_analysis = X_cat_normalised_marketing_customer_analysis.drop(['Customer','Effective To Date'],axis=1)
to_drop_cols = list(X_cat_normalised_marketing_customer_analysis.columns)
X_cat_normalised_marketing_customer_analysis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9134 entries, 0 to 9133
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             9134 non-null   object
 1   Response          9134 non-null   object
 2   Coverage          9134 non-null   object
 3   Education         9134 non-null   object
 4   EmploymentStatus  9134 non-null   object
 5   Gender            9134 non-null   object
 6   Location Code     9134 non-null   object
 7   Marital Status    9134 non-null   object
 8   Policy Type       9134 non-null   object
 9   Policy            9134 non-null   object
 10  Renew Offer Type  9134 non-null   object
 11  Sales Channel     9134 non-null   object
 12  Vehicle Class     9134 non-null   object
 13  Vehicle Size      9134 non-null   object
dtypes: object(14)
memory usage: 1.0+ MB

In [4]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first').fit(X_cat_normalised_marketing_customer_analysis)
OHE_objects = encoder.transform(X_cat_normalised_marketing_customer_analysis).toarray()
OHE_objects_names = list(encoder.get_feature_names())

X_completed_data = pd.DataFrame(OHE_objects,columns=OHE_objects_names)

In [5]:
cols_to_add = list(X_normalised_marketing_customer_analysis.select_dtypes('float').columns)
#cols_to_add +=['Customer','Effective To Date']

In [6]:
for i in cols_to_add:
    X_completed_data[i] = X_normalised_marketing_customer_analysis[i]

In [7]:
X_completed_data

,x0_California,x0_Nevada,x0_Oregon,x0_Washington,x1_Yes,x2_Extended,x2_Premium,x3_College,x3_Doctor,x3_High School or Below,...,x12_Two-Door Car,x13_Medsize,x13_Small,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.049049,0.998795,0.001225,0.000568,0.000089,0.000000,0.000018
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.999889,0.000000,0.013466,0.001862,0.006017,0.000000,0.001146
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.255494,0.966808,0.002141,0.000357,0.000753,0.000000,0.000040
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.999865,0.000000,0.013862,0.002354,0.008500,0.000000,0.000915
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.064055,0.997944,0.001662,0.000273,0.001002,0.000000,0.000023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.309387,0.950935,0.000965,0.000238,0.001176,0.000000,0.000026
9130,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.141879,0.989876,0.003620,0.000641,0.001283,0.000000,0.000046
9131,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.999935,0.000000,0.010411,0.001102,0.004532,0.000367,0.000245
9132,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.324391,0.945913,0.004139,0.001466,0.000129,0.000000,0.000129
9133,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.998973,0.000000,0.029451,0.001147,0.034423,0.000000,0.000382

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_completed_data,
                                                    Y_marketing_customer_analysis,
                                                    test_size=0.3,
                                                    random_state=100)

In [19]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
model = reg.fit(X_train,y_train)
pred = model.predict(X_test)

In [32]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

print('r2_score: ',r2_score(y_test,pred))
print('MSE:      ',mean_squared_error(y_test,pred,squared=False))
print('RMSE:     ',mean_squared_error(y_test,pred,squared=True))
print('MAE:      ',mean_absolute_error(y_test,pred))

r2_score:  0.7683677635484785
MSE:       135.98577622267155
RMSE:      18492.1313348825
MAE:       97.06159708045452