# Lab | Customer Analysis Round 6

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

#### X-y split. (done)
#### Normalize (numerical). (done)
#### One Hot/Label Encoding (categorical).
#### Concat DataFrames

In [41]:
categorical = pd.read_csv('merged_clean_ver3_categorical.csv')
categorical.drop(['Unnamed: 0'],axis=1,inplace=True)
categorical.drop(['CUSTOMER'],axis=1,inplace=True)
categorical.drop(['EFFECTIVE TO DATE'],axis=1,inplace=True)
categorical

,STATE,RESPONSE,COVERAGE,EDUCATION,EMPLOYMENTSTATUS,GENDER,LOCATION CODE,MARITAL STATUS,POLICY TYPE,POLICY,RENEW OFFER TYPE,SALES CHANNEL,VEHICLE CLASS,VEHICLE SIZE
0,Arizona,No,Basic,College,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize
1,California,No,Basic,College,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize
2,Washington,No,Basic,Bachelor,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize
3,Oregon,Yes,Extended,College,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize
4,California,No,Basic,Doctor,Employed,F,Urban,Married,Corporate Auto,Corporate L2,Offer2,Branch,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,Arizona,No,Basic,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer2,Branch,Two-Door Car,Medsize
9130,Nevada,No,Basic,High School or Below,Unemployed,M,Suburban,Single,Personal Auto,Personal L2,Offer1,Branch,Luxury SUV,Medsize
9131,Oregon,No,Basic,College,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize
9132,Arizona,No,Extended,Bachelor,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize
9133,California,No,Premium,College,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize

In [52]:
for col in categorical: 
    categorical[col + '_LABEL'] = LabelEncoder().fit(categorical[col]).transform(categorical[col])

In [60]:
num_categorical = categorical._get_numeric_data()

,STATE_LABEL,RESPONSE_LABEL,COVERAGE_LABEL,EDUCATION_LABEL,EMPLOYMENTSTATUS_LABEL,GENDER_LABEL,LOCATION CODE_LABEL,MARITAL STATUS_LABEL,POLICY TYPE_LABEL,POLICY_LABEL,...,EMPLOYMENTSTATUS_LABEL_LABEL,GENDER_LABEL_LABEL,LOCATION CODE_LABEL_LABEL,MARITAL STATUS_LABEL_LABEL,POLICY TYPE_LABEL_LABEL,POLICY_LABEL_LABEL,RENEW OFFER TYPE_LABEL_LABEL,SALES CHANNEL_LABEL_LABEL,VEHICLE CLASS_LABEL_LABEL,VEHICLE SIZE_LABEL_LABEL
0,0,0,0,1,1,1,1,1,0,2,...,1,1,1,1,0,2,2,0,0,1
1,1,0,0,1,4,0,1,2,1,5,...,4,0,1,2,1,5,3,2,0,1
2,4,0,0,0,1,1,1,2,1,5,...,1,1,1,2,1,5,2,2,3,1
3,3,1,1,1,1,1,1,2,0,2,...,1,1,1,2,0,2,1,1,0,1
4,1,0,0,2,1,0,2,1,0,1,...,1,0,2,1,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0,0,0,1,1,1,1,1,1,4,...,1,1,1,1,1,4,1,1,5,1
9130,2,0,0,3,4,1,1,2,1,4,...,4,1,1,2,1,4,0,1,2,1
9131,3,0,0,1,1,0,2,1,1,5,...,1,0,2,1,1,5,1,1,0,1
9132,0,0,1,0,1,0,0,1,0,2,...,1,0,0,1,0,2,0,3,2,1
9133,1,0,2,1,1,0,2,0,1,3,...,1,0,2,0,1,3,0,1,3,1

In [69]:
X = pd.read_csv('X_final_data.csv')
X.drop(['Unnamed: 0'],axis=1,inplace=True)

In [102]:
Y = pd.read_csv('Y_final_data.csv')
Y.drop(['Unnamed: 0'],axis=1,inplace=True)

In [103]:
X

,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,MONTHS SINCE LAST CLAIM,MONTHS SINCE POLICY INCEPTION,NUMBER OF OPEN COMPLAINTS,NUMBER OF POLICIES,MONTH,CUSTOMER LIFETIME VALUE_TEMP
0,4809.216960,48029,61,7.0,52,0.0,9,2,2755
1,2228.525238,0,64,3.0,26,0.0,1,1,78
2,14947.917300,22139,100,34.0,31,0.0,2,2,7171
3,22332.439460,49078,97,10.0,3,0.0,2,1,7660
4,5035.035257,37405,63,8.0,99,3.0,4,2,3078
...,...,...,...,...,...,...,...,...,...
9129,2771.663013,59855,74,30.0,82,4.0,1,1,985
9130,19228.463620,0,187,14.0,32,0.0,2,2,7492
9131,5259.444853,61146,65,7.0,68,0.0,6,1,3372
9132,23893.304100,39837,201,11.0,63,0.0,2,2,7716
9133,11971.977650,64195,158,0.0,27,4.0,6,2,6775

In [104]:
num_categorical

,STATE_LABEL,RESPONSE_LABEL,COVERAGE_LABEL,EDUCATION_LABEL,EMPLOYMENTSTATUS_LABEL,GENDER_LABEL,LOCATION CODE_LABEL,MARITAL STATUS_LABEL,POLICY TYPE_LABEL,POLICY_LABEL,...,EMPLOYMENTSTATUS_LABEL_LABEL,GENDER_LABEL_LABEL,LOCATION CODE_LABEL_LABEL,MARITAL STATUS_LABEL_LABEL,POLICY TYPE_LABEL_LABEL,POLICY_LABEL_LABEL,RENEW OFFER TYPE_LABEL_LABEL,SALES CHANNEL_LABEL_LABEL,VEHICLE CLASS_LABEL_LABEL,VEHICLE SIZE_LABEL_LABEL
0,0,0,0,1,1,1,1,1,0,2,...,1,1,1,1,0,2,2,0,0,1
1,1,0,0,1,4,0,1,2,1,5,...,4,0,1,2,1,5,3,2,0,1
2,4,0,0,0,1,1,1,2,1,5,...,1,1,1,2,1,5,2,2,3,1
3,3,1,1,1,1,1,1,2,0,2,...,1,1,1,2,0,2,1,1,0,1
4,1,0,0,2,1,0,2,1,0,1,...,1,0,2,1,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0,0,0,1,1,1,1,1,1,4,...,1,1,1,1,1,4,1,1,5,1
9130,2,0,0,3,4,1,1,2,1,4,...,4,1,1,2,1,4,0,1,2,1
9131,3,0,0,1,1,0,2,1,1,5,...,1,0,2,1,1,5,1,1,0,1
9132,0,0,1,0,1,0,0,1,0,2,...,1,0,0,1,0,2,0,3,2,1
9133,1,0,2,1,1,0,2,0,1,3,...,1,0,2,0,1,3,0,1,3,1

In [105]:
final_table = pd.DataFrame(np.concatenate((X,num_categorical),axis=1))
final_table.columns = X.columns.append(num_categorical.columns)

In [106]:
final_table

,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,MONTHS SINCE LAST CLAIM,MONTHS SINCE POLICY INCEPTION,NUMBER OF OPEN COMPLAINTS,NUMBER OF POLICIES,MONTH,CUSTOMER LIFETIME VALUE_TEMP,STATE_LABEL,...,EMPLOYMENTSTATUS_LABEL_LABEL,GENDER_LABEL_LABEL,LOCATION CODE_LABEL_LABEL,MARITAL STATUS_LABEL_LABEL,POLICY TYPE_LABEL_LABEL,POLICY_LABEL_LABEL,RENEW OFFER TYPE_LABEL_LABEL,SALES CHANNEL_LABEL_LABEL,VEHICLE CLASS_LABEL_LABEL,VEHICLE SIZE_LABEL_LABEL
0,4809.216960,48029.0,61.0,7.0,52.0,0.0,9.0,2.0,2755.0,0.0,...,1.0,1.0,1.0,1.0,0.0,2.0,2.0,0.0,0.0,1.0
1,2228.525238,0.0,64.0,3.0,26.0,0.0,1.0,1.0,78.0,1.0,...,4.0,0.0,1.0,2.0,1.0,5.0,3.0,2.0,0.0,1.0
2,14947.917300,22139.0,100.0,34.0,31.0,0.0,2.0,2.0,7171.0,4.0,...,1.0,1.0,1.0,2.0,1.0,5.0,2.0,2.0,3.0,1.0
3,22332.439460,49078.0,97.0,10.0,3.0,0.0,2.0,1.0,7660.0,3.0,...,1.0,1.0,1.0,2.0,0.0,2.0,1.0,1.0,0.0,1.0
4,5035.035257,37405.0,63.0,8.0,99.0,3.0,4.0,2.0,3078.0,1.0,...,1.0,0.0,2.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,2771.663013,59855.0,74.0,30.0,82.0,4.0,1.0,1.0,985.0,0.0,...,1.0,1.0,1.0,1.0,1.0,4.0,1.0,1.0,5.0,1.0
9130,19228.463620,0.0,187.0,14.0,32.0,0.0,2.0,2.0,7492.0,2.0,...,4.0,1.0,1.0,2.0,1.0,4.0,0.0,1.0,2.0,1.0
9131,5259.444853,61146.0,65.0,7.0,68.0,0.0,6.0,1.0,3372.0,3.0,...,1.0,0.0,2.0,1.0,1.0,5.0,1.0,1.0,0.0,1.0
9132,23893.304100,39837.0,201.0,11.0,63.0,0.0,2.0,2.0,7716.0,0.0,...,1.0,0.0,0.0,1.0,0.0,2.0,0.0,3.0,2.0,1.0
9133,11971.977650,64195.0,158.0,0.0,27.0,4.0,6.0,2.0,6775.0,1.0,...,1.0,0.0,2.0,0.0,1.0,3.0,0.0,1.0,3.0,1.0

In [107]:
from sklearn.model_selection import train_test_split

In [108]:
X_train, X_test, Y_train, Y_test = train_test_split(final_table, Y, test_size=0.4, random_state=100)

In [109]:
import statsmodels.api as nm
import statsmodels.api as sm

In [119]:
model = sm.OLS(Y_train,X_train).fit()

In [111]:
predictions = model.predict(X_test)

In [112]:
from sklearn.metrics import r2_score

In [113]:
r2_score(Y_test,predictions)

0.577887889604709

In [120]:
# Mean Square error

from sklearn.metrics import mean_squared_error

mse = mean_squared_error(Y_test, predictions)
print(mse)

33674.914128699034

In [121]:
# root mean squared error

import math

rmse = math.sqrt(mse)
print(rmse)

183.50725906268403