In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
pamella = pd.read_csv('pamella453.csv')

In [3]:
pamella.drop(['Unnamed: 0'],axis=1,inplace=True)

In [4]:
numerical = pamella.select_dtypes(include=np.number)

In [5]:
Y=numerical["total_claim_amount"]
numerical_x=numerical.drop(["number_of_open_complaints","number_of_policies","total_claim_amount"],axis=1)

In [6]:
Y

0       292.800000
1       744.924331
2       480.000000
3       484.013411
4       287.556107
           ...
9129    355.200000
9130    897.600000
9131    273.018929
9132    381.306996
9133    618.288849
Name: total_claim_amount, Length: 9134, dtype: float64

In [7]:
numerical.columns

Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'total_claim_amount',
       'month'],
      dtype='object')

In [8]:
Y = numerical["total_claim_amount"].reset_index(drop=True)

In [9]:
numerical

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,month
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000,2
1,2228.525238,0,64,3.0,26,0.0,1,744.924331,1
2,14947.917300,22139,100,34.0,31,0.0,2,480.000000,2
3,22332.439460,49078,97,10.0,3,0.0,2,484.013411,1
4,5035.035257,37405,63,8.0,99,3.0,4,287.556107,2
...,...,...,...,...,...,...,...,...,...
9129,2771.663013,59855,74,30.0,82,4.0,1,355.200000,1
9130,19228.463620,0,187,14.0,32,0.0,2,897.600000,2
9131,5259.444853,61146,65,7.0,68,0.0,6,273.018929,1
9132,23893.304100,39837,201,11.0,63,0.0,2,381.306996,2
9133,11971.977650,64195,158,0.0,27,4.0,6,618.288849,2

In [10]:
numerical.drop(['total_claim_amount'],axis=1,inplace=True)

In [11]:
numerical

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month
0,4809.216960,48029,61,7.0,52,0.0,9,2
1,2228.525238,0,64,3.0,26,0.0,1,1
2,14947.917300,22139,100,34.0,31,0.0,2,2
3,22332.439460,49078,97,10.0,3,0.0,2,1
4,5035.035257,37405,63,8.0,99,3.0,4,2
...,...,...,...,...,...,...,...,...
9129,2771.663013,59855,74,30.0,82,4.0,1,1
9130,19228.463620,0,187,14.0,32,0.0,2,2
9131,5259.444853,61146,65,7.0,68,0.0,6,1
9132,23893.304100,39837,201,11.0,63,0.0,2,2
9133,11971.977650,64195,158,0.0,27,4.0,6,2

In [12]:
pamella

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,IW72280,California,5035.035257,No,Basic,Doctor,2011-02-14,Employed,F,37405,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,1
9130,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,2
9131,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
9132,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
9133,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2

In [13]:
pamella.drop(['effective_to_date'],axis=1,inplace=True)

In [14]:
pamella

,customer,state,customer_lifetime_value,response,coverage,education,employmentstatus,gender,income,location_code,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,DK49336,Arizona,4809.216960,No,Basic,College,Employed,M,48029,Suburban,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,Unemployed,F,0,Suburban,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,Employed,M,22139,Suburban,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,Employed,M,49078,Suburban,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,IW72280,California,5035.035257,No,Basic,Doctor,Employed,F,37405,Urban,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,SU71163,Arizona,2771.663013,No,Basic,College,Employed,M,59855,Suburban,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,1
9130,QI63521,Nevada,19228.463620,No,Basic,High School or Below,Unemployed,M,0,Suburban,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,2
9131,KX53892,Oregon,5259.444853,No,Basic,College,Employed,F,61146,Urban,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
9132,TL39050,Arizona,23893.304100,No,Extended,Bachelor,Employed,F,39837,Rural,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
9133,WA60547,California,11971.977650,No,Premium,College,Employed,F,64195,Urban,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2

In [15]:
categorical = pamella.select_dtypes(include=np.object)

C:\Users\simoe\AppData\Local\Temp\ipykernel_12984\3608999848.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical = pamella.select_dtypes(include=np.object)

In [16]:
categorical

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,DK49336,Arizona,No,Basic,College,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize
1,KX64629,California,No,Basic,College,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize
2,LZ68649,Washington,No,Basic,Bachelor,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize
3,XL78013,Oregon,Yes,Extended,College,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize
4,IW72280,California,No,Basic,Doctor,Employed,F,Urban,Married,Corporate Auto,Corporate L2,Offer2,Branch,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,SU71163,Arizona,No,Basic,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer2,Branch,Two-Door Car,Medsize
9130,QI63521,Nevada,No,Basic,High School or Below,Unemployed,M,Suburban,Single,Personal Auto,Personal L2,Offer1,Branch,Luxury SUV,Medsize
9131,KX53892,Oregon,No,Basic,College,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize
9132,TL39050,Arizona,No,Extended,Bachelor,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize
9133,WA60547,California,No,Premium,College,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize

In [17]:
from sklearn.preprocessing import LabelEncoder

for col in categorical.columns:
    categorical[col]=LabelEncoder().fit(categorical[col]).transform(categorical[col])

categorical

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,1159,0,0,0,1,1,1,1,1,0,2,2,0,0,1
1,3815,1,0,0,1,4,0,1,2,1,5,3,2,0,1
2,4223,4,0,0,0,1,1,1,2,1,5,2,2,3,1
3,8235,3,1,1,1,1,1,1,2,0,2,1,1,0,1
4,3100,1,0,0,2,1,0,2,1,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,6574,0,0,0,1,1,1,1,1,1,4,1,1,5,1
9130,5709,2,0,0,3,4,1,1,2,1,4,0,1,2,1
9131,3810,3,0,0,1,1,0,2,1,1,5,1,1,0,1
9132,6790,0,0,1,0,1,0,0,1,0,2,0,3,2,1
9133,7703,1,0,2,1,1,0,2,0,1,3,0,1,3,1

In [18]:
from sklearn.preprocessing import OneHotEncoder

for col in categorical.columns:
    one_hot = pd.DataFrame(OneHotEncoder().fit(pd.DataFrame(categorical[col])).transform(pd.DataFrame(categorical[col])).toarray())

In [19]:
one_hot

        0    1    2
0     0.0  1.0  0.0
1     0.0  1.0  0.0
2     0.0  1.0  0.0
3     0.0  1.0  0.0
4     0.0  1.0  0.0
...   ...  ...  ...
9129  0.0  1.0  0.0
9130  0.0  1.0  0.0
9131  0.0  1.0  0.0
9132  0.0  1.0  0.0
9133  0.0  1.0  0.0

[9134 rows x 3 columns]

In [20]:
X = pd.DataFrame(np.concatenate((numerical,one_hot),axis=1)).reset_index(drop=True)

In [21]:
X

                0        1      2     3     4    5    6    7    8    9    10
0      4809.216960  48029.0   61.0   7.0  52.0  0.0  9.0  2.0  0.0  1.0  0.0
1      2228.525238      0.0   64.0   3.0  26.0  0.0  1.0  1.0  0.0  1.0  0.0
2     14947.917300  22139.0  100.0  34.0  31.0  0.0  2.0  2.0  0.0  1.0  0.0
3     22332.439460  49078.0   97.0  10.0   3.0  0.0  2.0  1.0  0.0  1.0  0.0
4      5035.035257  37405.0   63.0   8.0  99.0  3.0  4.0  2.0  0.0  1.0  0.0
...            ...      ...    ...   ...   ...  ...  ...  ...  ...  ...  ...
9129   2771.663013  59855.0   74.0  30.0  82.0  4.0  1.0  1.0  0.0  1.0  0.0
9130  19228.463620      0.0  187.0  14.0  32.0  0.0  2.0  2.0  0.0  1.0  0.0
9131   5259.444853  61146.0   65.0   7.0  68.0  0.0  6.0  1.0  0.0  1.0  0.0
9132  23893.304100  39837.0  201.0  11.0  63.0  0.0  2.0  2.0  0.0  1.0  0.0
9133  11971.977650  64195.0  158.0   0.0  27.0  4.0  6.0  2.0  0.0  1.0  0.0

[9134 rows x 11 columns]

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.4,random_state=100)

In [23]:
len(X)

9134

In [24]:
len(X_train)

5480

In [25]:
X_train

                0        1      2     3     4    5    6    7    8    9    10
3715   9357.737821  33060.0  117.0  19.0  91.0  0.0  3.0  1.0  0.0  1.0  0.0
3824   5443.761524  41449.0   69.0  16.0  96.0  1.0  3.0  2.0  0.0  1.0  0.0
4708   2867.312197  23376.0   78.0  19.0  18.0  0.0  1.0  1.0  0.0  1.0  0.0
8734  29037.477530      0.0  113.0   0.0  16.0  0.0  2.0  2.0  0.0  1.0  0.0
6094   3508.569533  20978.0   98.0  19.0  96.0  1.0  1.0  1.0  0.0  0.0  1.0
...            ...      ...    ...   ...   ...  ...  ...  ...  ...  ...  ...
350    4477.452010  41402.0  119.0  26.0  26.0  4.0  1.0  1.0  0.0  1.0  0.0
79     9549.113813  55986.0  119.0   3.0  60.0  0.0  9.0  2.0  0.0  0.0  1.0
8039   2712.915597  58508.0   69.0  32.0  11.0  0.0  1.0  2.0  0.0  1.0  0.0
6936   6282.317743      0.0  172.0  23.0   6.0  0.0  1.0  1.0  0.0  0.0  1.0
5640  11726.189210  40564.0   97.0   0.0  36.0  0.0  2.0  2.0  0.0  0.0  1.0

[5480 rows x 11 columns]

In [26]:
import statsmodels.api as sm

model = sm.OLS(y_train,X_train).fit()

In [27]:
predictions = model.predict(X_test)

In [28]:
r2_score(y_test,predictions)

0.5161775686573767

In [29]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, predictions)
print(mse)

38597.989557190835

In [30]:
import math

rmse = math.sqrt(mse)
print(rmse)

196.46371053502688

In [31]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, predictions)
print(mae)

141.38254950365612

In [32]:
pamella.to_csv('pamellaup.csv')